/* celular */
@media only screen and (max-width:481px){

    .container-all #main-title{
        grid-column-start: 1;
        grid-column-end: 7;
        height: 20rem;
    }
    .container-all #aside-title{
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .container-all #about{
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .container-all #skills-idioma{
        grid-column-start: 1;
        grid-column-end: 7;
    }

    #contacto{
        grid-column-start: 1;
        grid-column-end: 7;
        display:flex;
        flex-direction: column;
    }
     #ul-contact h3{
        margin-bottom: 1rem;
     }
     #form-contact #titulo-form{
        font-size: 1rem;
        margin: .5rem;
     }
     
}
/* móviles medianos */
@media screen and (min-width: 481px) and (max-width: 768px) {
    body{
        height: 100%;
    }
    #contacto{
        grid-column-start: 1;
        grid-column-end: 7;
        display:flex;
        flex-direction: column;
    }
     #ul-contact h3{
        margin-bottom: 1rem;
     }
     #form-contact #titulo-form{
        font-size: 1rem;
        margin: .5rem;
     }
}
