/* Variables */
:root{
        /* COLORS */
        --title-color: #0B0A0A;
        --text-color: #403A3A;
        --text-color-light: #707070;
        --container-color: #FAFAFA;
        --container-color-alt: #F0EFEF;
        --body-color: #FCFCFC;

        /* FONT AND TYPOGRAPHY */
        --body-font:'Open Sans', sans-serif;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;

        /* FONT WEIGHT */
        --font-medium:500;
        --font-semi-bold: 600;
    
}

/* ----------------------------- */

*{
    margin: 0;
    padding: 0;
}

*, ::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:var(--body-color);
    color:var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    /* background: rgb(244,86,122);
    background: radial-gradient(circle, rgba(244,86,122,1) 0%, rgba(248,143,167,0.15872286414565828) 13%, rgba(255,255,255,1) 100%); */
    background: rgb(205,94,112);
    background: radial-gradient(circle, rgba(205,94,112,1) 0%, rgba(244,244,244,0.024269082633053274) 55%);

}

h1,h2,h3,ul,p{
    margin: 0;
}

h1,h2,h3{
    color:var(--title-color);
    font-weight: var(--font-medium);

}

ul{
    padding: 0;
    list-style: none;
}

ul li .nav-link{
    text-decoration: none;
    color: var(--text-color);
}
ul li .nav-link:hover{
    color: var(--text-color-light);
}

.container-all{
    width: 100%;
    max-width: 70rem;
    margin: 1rem auto 0;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
}

.container-all > header{
    background-color: var(--container-color);
    grid-column-start: 1;
    grid-column-end: 7;
    border-style: none solid solid;
}

.container-all #main-title{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: none solid solid;

}

.container-all #aside-title{
    grid-column-start: 4;
    grid-column-end: 7;
    padding:1rem;
    display: flex;
    justify-content: center;
    border-style: none solid solid none;
}

.container-all #about{
    grid-column-start: 1;
    grid-column-end: 4;
    border-style: none solid solid;
    text-align: justify;
}

.container-all #skills-idioma{
    grid-column-start: 4;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    border-style: none solid solid none;
}

.container-all #educacion,
.container-all #experiencia,
.container-all #contacto{
    grid-column-start: 1;
    grid-column-end: 7;
    border-style: none solid solid solid;
    text-align: justify;

}

#about #title-about,
#educacion #title-education,
#experiencia #title-experience,
section #title-contacto{
    width: 100%;
    padding: 1.5rem;
    border-bottom-style: solid;
}
#p-about{
    padding: 1.5rem;
}
/* ------- ACOMODAR EL GRID DE SKILLS */

div #title-skills,
div #title-idiomas{
    padding: 1.5rem;
    border-bottom-style: solid;
}

#skills ul,
#idiomas ul{
    padding: 1.5rem;
}
#contacto{
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
#ul-contact{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ul-contact h3{
    margin-bottom: 6rem;
}
ul{
    font-size: var(--h2-font-size);
}
ul li{
    margin-bottom: 1rem;
}
#form-contact{
    grid-column-start: 2;
    grid-column-end: 3;
    border-style: solid none none solid;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

form div .form-control,
form .btn{
    border-radius: 0rem;
}

#lista-educacion,
#lista-experiencia{
    padding: 1.5rem;
}

#form-contact #titulo-form{
    margin: 1.2rem 0 0 1rem;
    font-size: 1.5rem;
}
 footer{
    background-color: black;
    color: var(--body-color);
    height: 20vh;
    padding: 1.5rem;
}

 /* Button dark light theme */

 footer .change-theme{
    color: white;
    font-size: 1.2rem;
 }

